@model BridgeSubTypeStatisticsViewModel
@{
    ViewData["Title"] = "桥梁数量";
    int k = 1;
}

<table id="dataTable" class="table table-bordered">
    <thead>
        <tr>
            <th>
                实心板梁
            </th>
            <th>
                空心板梁
            </th>
            <th>
                T梁
            </th>
            <th>
                小箱梁
            </th>
            <th>
                箱梁
            </th>
            <th>
                石拱桥
            </th>
            <th>
                圬工拱桥
            </th>
            <th>
                板拱
            </th>
            <th>
                刚构桥
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.BridgeSubTypeCountsArray[0]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[1]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[2]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[3]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[4]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[5]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[6]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[7]
            </td>
            <td>
                @Model.BridgeSubTypeCountsArray[8]
            </td>
        </tr>

    </tbody>
</table>

<div>病害统计：</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                序号
            </th>
            <th>
                桥梁类型
            </th>
            <th>
                病害代码
            </th>
            <th>
                病害类型
            </th>
            <th>
                病害数量
            </th>
        </tr>
    </thead>
    <tbody>
        @for (int j = 0; j < Model.SubTypeDamageCombineViewModels.Count(); j++)
        {

        <tr>
            <td>
                @k
                @{
                    k++;
                }
            </td>
            <td>
                板拱
            </td>
            <td>
                @Convert.ToInt32(Model.SubTypeDamageCombineViewModels[j].DamageType)
            </td>
            <td>
                @Html.DisplayFor(x => Model.SubTypeDamageCombineViewModels[j].DamageType)
            </td>
            <td>
                @Model.SubTypeDamageCombineViewModels[j].DamageCounts
            </td>
            <td>
            </td>
        </tr>



        }

    </tbody>
</table>
